// rules_version = '1';
// service cloud.firestore {
//   match /databases/{database}/documents {
//     match /{document=**} {
//       allow read, write: if false;
//     }
//   }
// }

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
  	function isAdmin(){
   		return request.auth!=null && get(/databases/$(database)/documents/users/$(request.auth.token.email)).data.isAdmin == true;
    }
  
  //Collection Access Rules
    match /users/{userId}{
      allow read;
      allow create,update : if resource.data.email == request.auth.token.email;
    }
    
    match /currentTeam/{singleId}{
      allow read :if request.auth!=null;
      allow write:if false;
    }
    
    match /contributors/{contributorsId}{
      allow read;
      allow create,update:if isAdmin();
    }
    match /feedbacks/{feedbacksId}{
      allow read: if isAdmin();
      allow create;
      allow update: if false;
    }
    
    match /projects/{projectsId}{
      allow read;
      allow create,update : if isAdmin();
    }
    
    match /pushTokens/{pushTokensId}{
      allow read : if isAdmin();
      allow create,update;
    }
    
    match /teams/{teamsId}{
      allow read ;
      allow create,update : if false;
    }
    
    match /tutorials/{tutorialsId}{
    	allow read;
    	allow create,update : if isAdmin();
    }
    match /downloads/{downloadsId}{
    	allow read;
    	allow create,update : if isAdmin();
    }
    match /news/{newsId}{
    	allow read;
    	allow create,update : if isAdmin();
    }
    match /notifications/{notificationsId}{
    	allow read;
    	allow create,update,delete : if isAdmin();
    }
    match /events/{eventsId}{
    	allow read;
    	allow create,update,delete : if isAdmin();
    }
    match /robocon/{roboconId}{
    	allow read;
    	allow create,update : if isAdmin();
    }
    match /robovoyage/{robovoyageId}{
    	allow read;
    	allow create,update : if isAdmin();
    }
    match /members/{membersId}{
    	allow read,create,update : if isAdmin();
    }
    match /facultyNumbers/{facultyNumbersId}{
    	allow read,create,update : if isAdmin();
    }
    
    //Overall default Access
    match/{multisegment=**}{
    	allow read,create,update: if request.auth!= null && isAdmin();
      allow delete : if false;
    }
    
    // Data Write/Update Checks
    
  }
}